ul{
	background: black;
}
ul li{
	display: inline;
}

.heading{
	text-align: center;
}

.search-area{
	width: 800px;
	margin: 0 auto;
	padding: 0;
}

.button_wrapper{
	text-align: center;
}

.return{
	text-align: left;
}